# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# PyCharm / VSCode
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Secrets or env files
.env

# OneDrive temp files
~$*
